- var title = "Клуб четырех коней";
- var description = "ПРЕВРАТИТЕ УЕЗДНЫЙ ГОРОД В СТОЛИЦУ ЗЕМНОГО ШАРА";
- var keywords = "Шахматы, Клуб четырех коней, О. Бендра";
- var keywords = "Шахматы, Клуб четырех коней, О. Бендра";
- var favicon = "@svg/horse.svg"
include templates/components/head

body.body 
    .wrapper
        main.main 
            include templates/components/header
        include templates/components/footer
script(src="@js/app.min.js") 
