- var title = "learn JS";
- var description = "learn JS";
- var keywords = "learn JS";
- var keywords = "learn JS";
- var favicon = "@svg/horse.svg"
include templates/components/head

body.body 
    .wrapper
        main.main 
            div Learn JS
        include templates/components/footer
script(src="@js/app.min.js") 
